@import '../styles/variables/variables'

.beer-section
    &__title
        display: inline-block
        margin-bottom: 3rem
        border-bottom: 1px solid $main-red
    &__cards
        padding: .5rem
        display: flex
        align-content: stretch
        flex-wrap: wrap
        gap: 3rem
        li:nth-child(odd)
            margin-left: auto
.error-msg
    color: $main-red
