@import '../styles/variables/variables'

.beer-section
    &__title
        display: inline-block
        margin-bottom: 3rem
        border-bottom: 1px solid $main-red
    &__cards
        display: flex
        flex-wrap: wrap
        gap: 1rem

.error-msg
    color: $main-red
